@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-selectGreen: #359845;
  --color-bgGreen: #E2FFE5;
  --color-bgGray: #D8D8D8;
  --color-bgBlue: #74C2FF;
  --color-textGray: #828282;
}